an git-lfs se
#image
*.Jpg filter-lfs diff-lfs merge-lfs -text
*.3p?g filter=ifs diff=ifs merge=lfs
-text
*.png filter=lfs diff=lfs merge=lfs
-text
*.gif f1lterw1fs diff=1fs merge=1fs
*.psd filteralfs d1ff=1fs merge=lfs
-text
,al filter=ifs diff=ifs merge=ifs -text
*.tif filter-lfs d1ff=1fs merge-lfs -text
#audlo
*.mp3 fIlter-lfs d1ff=1fs merge-lfs - text
*.wav fIlterlfs diff=1fs merge=lfs
-text
*.ogg filter-lfs diff=ifs merge=lfs
- text
#Video
*.mp4 filter-lfs diff=1fs merge=lfs-text
*.mov filter-lfs diff=lfs merge=lfs-text
#3D Object
* FBX flitermlfs diff-lfs merge=lfs
-text
*fox filter-lfs diff-ifs merge=lfs
-text
*.blend filter-lfs diff-ifs merge=lfs- text
*.ob) filter-lfs d1ff-1fs merge=lfs-text
#ETC
*.a filter=lfs diff=1fs merge=1fs -text
*.exr filter=1fs diff=1fs merge=1fs -text
*.tga filter=1fs diff=1fs merge=1fs -text
*.pdf filter=lfs d1ff=1fs merge=1fs -text
*.zip f1lter=1fs d1ff=1fs merge=1fs -text
*.d11 filter=lfs diff=1fs merge=1fs -text
*_untypackage fI1ter=1fs d1ff=1fs merge=lfs -text
*.alf filter=lfs d1ff=1fs nerge=1fs -text
*.ttf filteralfs diff=1fs merge=lfs - text
rns filter=lfs diff-1fs merge=lfs -text
-reason filter=lfs diff-1fs nerge=lfs -text
*.Ixo fl1ter=1fs diff=1fs nerge=1fs -text|
